/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;  
	background: url('../img/bg-body.jpg') right bottom fixed no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: block;}
	
body { min-height: 100%; margin: 0; font-size: 13px; line-height: 1.231;}
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection{ background: #1598e4; color:#fff; text-shadow: none; }
::selection { background:#1598e4; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #1598e4; }

a { color: rgba(226, 216, 158, .8);
	text-decoration: none;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;	
	transition: all 200ms ease-out; 
	font-size:18px;
	font-weight:bold;}
	
a:hover { color: rgba(226, 216, 158, 1); }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

#container {
	width: 620px;
	position: fixed;
	bottom: 75px;
	z-index: 2;}

/* ==|== primary styles ============================================= */

#main, header {
	padding-left: 98px;}

header img.logo {
	position: absolute; 
	top: -70px; left: 58px;}

header img.ps {margin-bottom: 38px;}
	
nav ul {margin-bottom: 38px;}

nav li {float: left;}

	nav li a {
		display: block;
		margin-right: 35px;
		height: 31px;
		background:url('/img/btn-nav.png') no-repeat top left;
		opacity: 0.8;}
		
		nav li a:hover {opacity: 1;}
		
		nav li a.n-t {width:35px;}
		nav li a.n-f {width:28px; background-position: -69px top;}
		nav li a.n-b {width:27px; background-position: -132px top;}
		nav li a.n-d {width:29px; background-position: -194px top;}
		nav li a.n-s {width:30px; background-position: -256px top;}
		nav li a.n-m {width:31px; background-position: -320px top;}


#main {margin-top: 28px;}

#main p {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: -0.040em;
	font-weight: normal;
	margin: 0;
	color: #e4e4cb;}


/*Twitter*/
section#twitter {
	position: fixed;
	bottom: 75px;
	right: 100px;
	width: 340px;
	font-weight: bold;
	z-index: 2;}
		
section#twitter .twtr-hd, section#twitter .twtr-ft {display: none !important;}

section#twitter .twtr-widget .twtr-tweet-wrap {padding: 0 !important;}

section#twitter h5/* .twtr-widget p*/ {
	font-family: Arial, san-serif !important;
	font-size: 18px !important;
	letter-spacing: -1px;
	font-weight: bold !important;
	margin: 0 0 .4em;
	color: #e4e4cb;}
	
	section#twitter .twtr-widget p a {text-decoration: none !important;}
	
	section#twitter .twtr-widget p em {margin: 1em 0 2em; letter-spacing: -0.062em;}

	section#twitter span/*,
	section#twitter #twtr-widget-1 .twtr-tweet a.twtr-timestamp,
	section#twitter #twtr-widget-1 .twtr-tweet a.twtr-reply,
	section#twitter #twtr-widget-1 .twtr-tweet a.twtr-rt,
	section#twitter #twtr-widget-1 .twtr-tweet a.twtr-fav*/ {
		font-size: 14px !important;
		font-weight: bold !important;
		color: rgba(255,255,255, .6) !important;
	}


/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (max-width: 480px) {
	section#twitter {display: none;}
	#container {width: 100%;}
		
	header img.logo {
		position: relative; 
		top: -5em;
		left: -3em;
		margin-bottom: -90px;}
	
	nav li, #main p {margin-bottom: .8em;}
	nav li a {margin-right: 2.37em;}
	#main p a {display: block;}
	#main, header  {
			margin-bottom: 1em;
			padding-left: 0;}

}

@media only screen and (max-width: 850px) {
	html {background-position: 50% top;}
	body {padding: 10px;}
	
	img {max-width: 100%;}
	
	#container, section#twitter {
		width: 85%;
		position: relative;
		top: 150px; left: 0;}
		
		#main, header  {
			margin-bottom: 30px;
			padding-left: 15%;}
			
			nav li a {margin-right: 3.2em;} 
			
		section#twitter {
			width: 75%;
			padding-bottom: 120px;
			padding-left: 12.6%;}

}


/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
