		<footer id="footer">
			<div class="grid">
				Copyright &copy; 2014<br/>
				<a href="http://twitter.com/TheCellarRoom">@TheCellarRoom</a>
			</div>
			<div class="gridright">
<a target="_blank" href="http://www.thechels.co.uk/amazon">Support TheCellarRoom<br/>by shopping at Amazon</a>
			</div>
			<div class="clear"></div>
			<div>
				<p><small>&copy; 2014 The Cellar Room Limited, Registered in England and Wales. Company Number 07269584.</small></p>
				
			</div>
		</footer>		
	</div>	
</body>
</html>
